@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to New Surface Family</h1>
        <p>Learn about <a href="https://www.microsoft.com/ja-jp/surface">Buying an incredible products</a>.</p>
        <img src="~/NewSurfaceProducts.jpg" alt="Surface Products">
    </div>
